/* src/pages/SignupPage.css */

.signup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
}

.signup-form {
    background: #1f2937;
    padding: 2rem;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.signup-form h2 {
    color: white;
    margin-bottom: 1.5rem;
}

.signup-form label {
    display: block;
    color: #d1d5db;
    margin-bottom: 4px;
    font-size: 14px;
}

.signup-form h2 {  /* zelf toegevoegd om h2 groter te maken :) */
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #4b5563;
    background: #111827;
    color: white;
    margin-bottom: 1rem;
}

.signup-form button {
    width: 100%;
    padding: 12px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.signup-form button:hover {
    background: #15803d;
}

.error-message {
    color: #bd4747;   /* rood, net als bij login */
    margin-top: 0.5rem;
    margin-bottom: 20px;   /* beetje ruimte tussen text en knop */
}

